# 06 â€“ Joins and Combining DataFrames

How to merge, join, and bind datasets using base R and `dplyr`.

*Part of the [Foundations: Python, R & SQL](../README.md) series.*

In [14]:
# Install and load required packages
!pip install -q rpy2
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [15]:
%%R
library(dplyr)

## 1. Sample DataFrames

In [16]:
%%R
employees <- data.frame(
  id = c(1, 2, 3, 4),
  name = c("Alice", "Bob", "Charlie", "David"),
  department = c("HR", "IT", "IT", "Finance")
)

salaries <- data.frame(
  id = c(2, 3, 4, 5),
  salary = c(50000, 55000, 60000, 45000)
)
employees

  id    name department
1  1   Alice         HR
2  2     Bob         IT
3  3 Charlie         IT
4  4   David    Finance

In [17]:
%%R
salaries

  id salary
1  2  50000
2  3  55000
3  4  60000
4  5  45000

## 2. Inner Join

In [18]:
%%R
inner_join(employees, salaries, by = "id")

  id    name department salary
1  2     Bob         IT  50000
2  3 Charlie         IT  55000
3  4   David    Finance  60000

## 3. Left Join

In [19]:
%%R
left_join(employees, salaries, by = "id")

  id    name department salary
1  1   Alice         HR     NA
2  2     Bob         IT  50000
3  3 Charlie         IT  55000
4  4   David    Finance  60000

## 4. Right Join

In [20]:
%%R
right_join(employees, salaries, by = "id")

  id    name department salary
1  2     Bob         IT  50000
2  3 Charlie         IT  55000
3  4   David    Finance  60000
4  5    <NA>       <NA>  45000

## 5. Full Join

In [21]:
%%R
full_join(employees, salaries, by = "id")

  id    name department salary
1  1   Alice         HR     NA
2  2     Bob         IT  50000
3  3 Charlie         IT  55000
4  4   David    Finance  60000
5  5    <NA>       <NA>  45000

## 6. Binding Rows and Columns

In [22]:
%%R
extra_employees <- data.frame(
  id = c(6, 7),
  name = c("Eva", "Frank"),
  department = c("HR", "IT")
)

# Combine rows
bind_rows(employees, extra_employees)

  id    name department
1  1   Alice         HR
2  2     Bob         IT
3  3 Charlie         IT
4  4   David    Finance
5  6     Eva         HR
6  7   Frank         IT

## Summary
- `inner_join()` for matching records
- `left_join()` and `right_join()` to retain all rows from one side
- `full_join()` for all records
- `bind_rows()` to append vertically
- `bind_cols()` to combine side-by-side