# 07 – Reshape and Pivot

Core R concepts: transforming data shapes using `pivot_longer`, `pivot_wider`

---

*This notebook is part of the [Foundations: Python, R & SQL](../README.md) series.*

---

In [8]:
!pip install -q rpy2
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [9]:
%%R
# Load necessary libraries
library(tidyr)
library(dplyr)

## 1. pivot_longer()

Used to reshape wide data to long format.

In [10]:
%%R
# Create wide format data
scores <- data.frame(
  student = c("Alice", "Bob", "Clara"),
  math = c(90, 80, 85),
  english = c(88, 85, 91)
)
scores

  student math english
1   Alice   90      88
2     Bob   80      85
3   Clara   85      91

In [11]:
%%R
# Convert to long format
long_scores <- pivot_longer(scores,
                            cols = c(math, english),
                            names_to = "subject",
                            values_to = "score")

long_scores

# A tibble: 6 × 3
  student subject score
  <chr>   <chr>   <dbl>
1 Alice   math       90
2 Alice   english    88
3 Bob     math       80
4 Bob     english    85
5 Clara   math       85
6 Clara   english    91

## 2. pivot_wider()

Used to reshape long data back to wide format.

In [12]:
%%R
# Convert back to wide format
wide_scores <- pivot_wider(long_scores,
                           names_from = subject,
                           values_from = score)

wide_scores

# A tibble: 3 × 3
  student  math english
  <chr>   <dbl>   <dbl>
1 Alice      90      88
2 Bob        80      85
3 Clara      85      91

## 3. Separate and unite columns

In [13]:
%%R
# Separate columns
data <- data.frame(name = c("John_Doe", "Jane_Smith"))
separated <- separate(data, name, into = c("first", "last"), sep = "_")

separated

  first  last
1  John   Doe
2  Jane Smith

In [14]:
%%R
# Unite columns
united <- unite(separated, full_name, first, last, sep = " ")

united

   full_name
1   John Doe
2 Jane Smith

## Summary

| Function         | Purpose                         |
|------------------|---------------------------------|
| `pivot_longer()` | Wide → long format              |
| `pivot_wider()`  | Long → wide format              |
| `separate()`     | Split column into multiple      |
| `unite()`        | Merge multiple columns into one |