# 01 – SELECT, FROM, WHERE

Core SQL concepts: selecting columns, filtering rows.

Part of the [Foundations: Python, R & SQL](../README.md) repository.


---

## Setup

Run the following cell first:
```python
!pip install -q duckdb duckdb-engine
import duckdb
```
Then you can execute SQL queries using Python directly:

```python
duckdb.sql("""
SELECT 1 + 1 AS result
""")
```

In [1]:
!pip install -q duckdb duckdb-engine
import duckdb

## Create Sample Table

In [2]:
duckdb.sql("""
CREATE TABLE employees (
  id INTEGER,
  name TEXT,
  department TEXT,
  salary INTEGER,
  hire_date DATE
);

INSERT INTO employees VALUES
(1, 'Alice', 'IT', 60000, '2019-01-15'),
(2, 'Bob', 'HR', 50000, '2020-03-22'),
(3, 'Clara', 'Finance', 65000, '2018-07-30'),
(4, 'David', 'IT', 55000, '2021-05-10'),
(5, 'Eva', 'HR', 48000, '2022-09-01');
""")

In [3]:
duckdb.sql("SELECT * FROM employees")

┌───────┬─────────┬────────────┬────────┬────────────┐
│  id   │  name   │ department │ salary │ hire_date  │
│ int32 │ varchar │  varchar   │ int32  │    date    │
├───────┼─────────┼────────────┼────────┼────────────┤
│     1 │ Alice   │ IT         │  60000 │ 2019-01-15 │
│     2 │ Bob     │ HR         │  50000 │ 2020-03-22 │
│     3 │ Clara   │ Finance    │  65000 │ 2018-07-30 │
│     4 │ David   │ IT         │  55000 │ 2021-05-10 │
│     5 │ Eva     │ HR         │  48000 │ 2022-09-01 │
└───────┴─────────┴────────────┴────────┴────────────┘

## 1. SELECT – Basic Column Retrieval

In [4]:
duckdb.sql("""
SELECT name, department FROM employees;
""")

┌─────────┬────────────┐
│  name   │ department │
│ varchar │  varchar   │
├─────────┼────────────┤
│ Alice   │ IT         │
│ Bob     │ HR         │
│ Clara   │ Finance    │
│ David   │ IT         │
│ Eva     │ HR         │
└─────────┴────────────┘

## 2. WHERE – Filtering Rows

In [5]:
duckdb.sql("""
SELECT * FROM employees
WHERE department = 'IT';
""")

┌───────┬─────────┬────────────┬────────┬────────────┐
│  id   │  name   │ department │ salary │ hire_date  │
│ int32 │ varchar │  varchar   │ int32  │    date    │
├───────┼─────────┼────────────┼────────┼────────────┤
│     1 │ Alice   │ IT         │  60000 │ 2019-01-15 │
│     4 │ David   │ IT         │  55000 │ 2021-05-10 │
└───────┴─────────┴────────────┴────────┴────────────┘

## 3. Filtering with Multiple Conditions

In [6]:
duckdb.sql("""
SELECT name, salary FROM employees
WHERE department = 'IT' AND salary > 55000;
""")

┌─────────┬────────┐
│  name   │ salary │
│ varchar │ int32  │
├─────────┼────────┤
│ Alice   │  60000 │
└─────────┴────────┘

## 4. Filtering by Date

In [7]:
duckdb.sql("""
SELECT * FROM employees
WHERE hire_date >= '2020-01-01';
""")

┌───────┬─────────┬────────────┬────────┬────────────┐
│  id   │  name   │ department │ salary │ hire_date  │
│ int32 │ varchar │  varchar   │ int32  │    date    │
├───────┼─────────┼────────────┼────────┼────────────┤
│     2 │ Bob     │ HR         │  50000 │ 2020-03-22 │
│     4 │ David   │ IT         │  55000 │ 2021-05-10 │
│     5 │ Eva     │ HR         │  48000 │ 2022-09-01 │
└───────┴─────────┴────────────┴────────┴────────────┘

## Summary

- Use `SELECT` to choose which columns to return.
- Use `FROM` to specify the table.
- Use `WHERE` to filter rows based on conditions.
- You can combine conditions using `AND`, `OR`, and use operators like `=`, `>`, `<`, `!=`, `>=`, `<=`.
- DuckDB allows clean and fast execution of SQL inside Python notebooks.