# 02 – Aliases and Built-in Functions

Core SQL concepts: column and table aliases, built-in functions for math, text, and date operations.

Part of the [Foundations: Python, R & SQL](../README.md) repository.

In [1]:
# Uncomment if running on Colab
# !pip install duckdb

In [2]:
import duckdb

In [3]:
duckdb.sql("""
CREATE TABLE employees (
  id INTEGER,
  name TEXT,
  department TEXT,
  salary INTEGER,
  hire_date DATE
);

INSERT INTO employees VALUES
(1, 'Alice', 'IT', 60000, '2019-01-15'),
(2, 'Bob', 'HR', 50000, '2020-03-22'),
(3, 'Clara', 'Finance', 65000, '2018-07-30'),
(4, 'David', 'IT', 55000, '2021-05-10'),
(5, 'Eva', 'HR', 48000, '2022-09-01');
""")

In [4]:
duckdb.sql("SELECT * FROM employees")

┌───────┬─────────┬────────────┬────────┬────────────┐
│  id   │  name   │ department │ salary │ hire_date  │
│ int32 │ varchar │  varchar   │ int32  │    date    │
├───────┼─────────┼────────────┼────────┼────────────┤
│     1 │ Alice   │ IT         │  60000 │ 2019-01-15 │
│     2 │ Bob     │ HR         │  50000 │ 2020-03-22 │
│     3 │ Clara   │ Finance    │  65000 │ 2018-07-30 │
│     4 │ David   │ IT         │  55000 │ 2021-05-10 │
│     5 │ Eva     │ HR         │  48000 │ 2022-09-01 │
└───────┴─────────┴────────────┴────────┴────────────┘

## 1. Column and Table Aliases
Use `AS` to rename columns or tables for readability.

In [5]:
duckdb.sql("""
SELECT 
  name AS employee_name, 
  salary AS annual_salary
FROM employees AS e;
""")

┌───────────────┬───────────────┐
│ employee_name │ annual_salary │
│    varchar    │     int32     │
├───────────────┼───────────────┤
│ Alice         │         60000 │
│ Bob           │         50000 │
│ Clara         │         65000 │
│ David         │         55000 │
│ Eva           │         48000 │
└───────────────┴───────────────┘

## 2. Built-in String Functions

In [6]:
duckdb.sql("""
SELECT 
  name, 
  LENGTH(name) AS name_length,
  UPPER(name) AS name_upper,
  LOWER(name) AS name_lower
FROM employees;
""")

┌─────────┬─────────────┬────────────┬────────────┐
│  name   │ name_length │ name_upper │ name_lower │
│ varchar │    int64    │  varchar   │  varchar   │
├─────────┼─────────────┼────────────┼────────────┤
│ Alice   │           5 │ ALICE      │ alice      │
│ Bob     │           3 │ BOB        │ bob        │
│ Clara   │           5 │ CLARA      │ clara      │
│ David   │           5 │ DAVID      │ david      │
│ Eva     │           3 │ EVA        │ eva        │
└─────────┴─────────────┴────────────┴────────────┘

## 3. Math Functions

In [7]:
duckdb.sql("""
SELECT 
  name,
  salary,
  ROUND(salary * 1.1, 0) AS salary_plus_10pct,
  CEIL(salary / 1000) * 1000 AS rounded_up
FROM employees;
""")

┌─────────┬────────┬───────────────────┬────────────┐
│  name   │ salary │ salary_plus_10pct │ rounded_up │
│ varchar │ int32  │   decimal(12,0)   │   double   │
├─────────┼────────┼───────────────────┼────────────┤
│ Alice   │  60000 │             66000 │    60000.0 │
│ Bob     │  50000 │             55000 │    50000.0 │
│ Clara   │  65000 │             71500 │    65000.0 │
│ David   │  55000 │             60500 │    55000.0 │
│ Eva     │  48000 │             52800 │    48000.0 │
└─────────┴────────┴───────────────────┴────────────┘

## 4. Date Functions

In [8]:
duckdb.sql("""
SELECT 
  name,
  hire_date,
  YEAR(hire_date) AS hire_year,
  MONTH(hire_date) AS hire_month
FROM employees;
""")

┌─────────┬────────────┬───────────┬────────────┐
│  name   │ hire_date  │ hire_year │ hire_month │
│ varchar │    date    │   int64   │   int64    │
├─────────┼────────────┼───────────┼────────────┤
│ Alice   │ 2019-01-15 │      2019 │          1 │
│ Bob     │ 2020-03-22 │      2020 │          3 │
│ Clara   │ 2018-07-30 │      2018 │          7 │
│ David   │ 2021-05-10 │      2021 │          5 │
│ Eva     │ 2022-09-01 │      2022 │          9 │
└─────────┴────────────┴───────────┴────────────┘

## Summary

- Use `AS` to create readable column or table aliases.
- SQL includes built-in functions for:
  - String manipulation: `LENGTH()`, `UPPER()`, `LOWER()`
  - Arithmetic: `ROUND()`, `CEIL()`, etc.
  - Date processing: `YEAR()`, `MONTH()`, etc.