# 03 – Strings and Dates

Core SQL concepts: working with text and date data using built-in functions.

Part of the [Foundations: Python, R & SQL](../README.md) repository.

In [1]:
import duckdb

# Create a sample table
duckdb.sql("""
CREATE TABLE employees (
  id INTEGER,
  name TEXT,
  department TEXT,
  salary INTEGER,
  hire_date DATE
);

INSERT INTO employees VALUES
(1, 'Alice Johnson', 'IT', 60000, '2019-01-15'),
(2, 'Bob Smith', 'HR', 50000, '2020-03-22'),
(3, 'Clara Davis', 'Finance', 65000, '2018-07-30'),
(4, 'David Brown', 'IT', 55000, '2021-05-10'),
(5, 'Eva Green', 'HR', 48000, '2022-09-01');
""")

In [2]:
duckdb.sql("SELECT * FROM employees")

┌───────┬───────────────┬────────────┬────────┬────────────┐
│  id   │     name      │ department │ salary │ hire_date  │
│ int32 │    varchar    │  varchar   │ int32  │    date    │
├───────┼───────────────┼────────────┼────────┼────────────┤
│     1 │ Alice Johnson │ IT         │  60000 │ 2019-01-15 │
│     2 │ Bob Smith     │ HR         │  50000 │ 2020-03-22 │
│     3 │ Clara Davis   │ Finance    │  65000 │ 2018-07-30 │
│     4 │ David Brown   │ IT         │  55000 │ 2021-05-10 │
│     5 │ Eva Green     │ HR         │  48000 │ 2022-09-01 │
└───────┴───────────────┴────────────┴────────┴────────────┘

## 1. String Functions
Use functions like `UPPER`, `LOWER`, `LENGTH`, and `SUBSTR` to manipulate text.

In [3]:
duckdb.sql("""
SELECT 
  name,
  UPPER(name) AS name_upper,
  LOWER(name) AS name_lower,
  LENGTH(name) AS name_length,
  SUBSTR(name, 1, 5) AS name_short
FROM employees;
""")

┌───────────────┬───────────────┬───────────────┬─────────────┬────────────┐
│     name      │  name_upper   │  name_lower   │ name_length │ name_short │
│    varchar    │    varchar    │    varchar    │    int64    │  varchar   │
├───────────────┼───────────────┼───────────────┼─────────────┼────────────┤
│ Alice Johnson │ ALICE JOHNSON │ alice johnson │          13 │ Alice      │
│ Bob Smith     │ BOB SMITH     │ bob smith     │           9 │ Bob S      │
│ Clara Davis   │ CLARA DAVIS   │ clara davis   │          11 │ Clara      │
│ David Brown   │ DAVID BROWN   │ david brown   │          11 │ David      │
│ Eva Green     │ EVA GREEN     │ eva green     │           9 │ Eva G      │
└───────────────┴───────────────┴───────────────┴─────────────┴────────────┘

## 2. Date Functions
Extract parts of a date and perform date arithmetic.

In [4]:
duckdb.sql("""
SELECT 
  name,
  hire_date,
  EXTRACT(year FROM hire_date) AS year_hired,
  EXTRACT(month FROM hire_date) AS month_hired,
  CURRENT_DATE - hire_date AS days_employed
FROM employees;
""")

┌───────────────┬────────────┬────────────┬─────────────┬───────────────┐
│     name      │ hire_date  │ year_hired │ month_hired │ days_employed │
│    varchar    │    date    │   int64    │    int64    │     int64     │
├───────────────┼────────────┼────────────┼─────────────┼───────────────┤
│ Alice Johnson │ 2019-01-15 │       2019 │           1 │          2342 │
│ Bob Smith     │ 2020-03-22 │       2020 │           3 │          1910 │
│ Clara Davis   │ 2018-07-30 │       2018 │           7 │          2511 │
│ David Brown   │ 2021-05-10 │       2021 │           5 │          1496 │
│ Eva Green     │ 2022-09-01 │       2022 │           9 │          1017 │
└───────────────┴────────────┴────────────┴─────────────┴───────────────┘

## 3. Filtering with Text and Dates
Use `LIKE` and comparisons for filtering.

In [5]:
duckdb.sql("""
SELECT *
FROM employees
WHERE name LIKE 'A%';
""")

┌───────┬───────────────┬────────────┬────────┬────────────┐
│  id   │     name      │ department │ salary │ hire_date  │
│ int32 │    varchar    │  varchar   │ int32  │    date    │
├───────┼───────────────┼────────────┼────────┼────────────┤
│     1 │ Alice Johnson │ IT         │  60000 │ 2019-01-15 │
└───────┴───────────────┴────────────┴────────┴────────────┘

In [6]:
duckdb.sql("""
SELECT *
FROM employees
WHERE hire_date > '2020-01-01';
""")

┌───────┬─────────────┬────────────┬────────┬────────────┐
│  id   │    name     │ department │ salary │ hire_date  │
│ int32 │   varchar   │  varchar   │ int32  │    date    │
├───────┼─────────────┼────────────┼────────┼────────────┤
│     2 │ Bob Smith   │ HR         │  50000 │ 2020-03-22 │
│     4 │ David Brown │ IT         │  55000 │ 2021-05-10 │
│     5 │ Eva Green   │ HR         │  48000 │ 2022-09-01 │
└───────┴─────────────┴────────────┴────────┴────────────┘

## Summary

- Use **string functions** to transform or extract parts of text.
- Use **date functions** for calendar-based logic and arithmetic.
- Filter with `LIKE` and date comparisons for dynamic queries.