# 05 – ORDER BY, DISTINCT, and CASE

Core SQL concepts: sorting results, removing duplicates, and conditional logic with `CASE`.

Part of the [Foundations: Python, R & SQL](../README.md) repository.

In [1]:
import duckdb

duckdb.sql("""
CREATE TABLE employees (
  id INTEGER,
  name TEXT,
  department TEXT,
  salary INTEGER,
  hire_date DATE
);

INSERT INTO employees VALUES
(1, 'Alice', 'IT', 60000, '2019-01-15'),
(2, 'Bob', 'HR', 50000, '2020-03-22'),
(3, 'Clara', 'Finance', 65000, '2018-07-30'),
(4, 'David', 'IT', 55000, '2021-05-10'),
(5, 'Eva', 'HR', 48000, '2022-09-01');
""")

In [2]:
duckdb.sql("SELECT * FROM employees")

┌───────┬─────────┬────────────┬────────┬────────────┐
│  id   │  name   │ department │ salary │ hire_date  │
│ int32 │ varchar │  varchar   │ int32  │    date    │
├───────┼─────────┼────────────┼────────┼────────────┤
│     1 │ Alice   │ IT         │  60000 │ 2019-01-15 │
│     2 │ Bob     │ HR         │  50000 │ 2020-03-22 │
│     3 │ Clara   │ Finance    │  65000 │ 2018-07-30 │
│     4 │ David   │ IT         │  55000 │ 2021-05-10 │
│     5 │ Eva     │ HR         │  48000 │ 2022-09-01 │
└───────┴─────────┴────────────┴────────┴────────────┘

## 1. ORDER BY

Sort results in ascending (`ASC`) or descending (`DESC`) order.

- By default, `ORDER BY` is ascending.
- Can sort by one or more columns.

In [3]:
# Order by salary ascending
duckdb.sql("""
SELECT name, salary
FROM employees
ORDER BY salary
""")

┌─────────┬────────┐
│  name   │ salary │
│ varchar │ int32  │
├─────────┼────────┤
│ Eva     │  48000 │
│ Bob     │  50000 │
│ David   │  55000 │
│ Alice   │  60000 │
│ Clara   │  65000 │
└─────────┴────────┘

In [4]:
# Order by hire_date descending
duckdb.sql("""
SELECT name, hire_date
FROM employees
ORDER BY hire_date DESC
""")

┌─────────┬────────────┐
│  name   │ hire_date  │
│ varchar │    date    │
├─────────┼────────────┤
│ Eva     │ 2022-09-01 │
│ David   │ 2021-05-10 │
│ Bob     │ 2020-03-22 │
│ Alice   │ 2019-01-15 │
│ Clara   │ 2018-07-30 │
└─────────┴────────────┘

## 2. DISTINCT

Remove duplicate rows from result.

In [5]:
# Select unique departments
duckdb.sql("""
SELECT DISTINCT department
FROM employees
""")

┌────────────┐
│ department │
│  varchar   │
├────────────┤
│ IT         │
│ Finance    │
│ HR         │
└────────────┘

## 3. CASE

Add conditional logic in SELECT or WHERE.

Use `CASE WHEN` to create new columns based on conditions.

In [6]:
# Classify salaries
duckdb.sql("""
SELECT name, salary,
  CASE
    WHEN salary >= 60000 THEN 'High'
    WHEN salary >= 50000 THEN 'Medium'
    ELSE 'Low'
  END AS salary_level
FROM employees
""")

┌─────────┬────────┬──────────────┐
│  name   │ salary │ salary_level │
│ varchar │ int32  │   varchar    │
├─────────┼────────┼──────────────┤
│ Alice   │  60000 │ High         │
│ Bob     │  50000 │ Medium       │
│ Clara   │  65000 │ High         │
│ David   │  55000 │ Medium       │
│ Eva     │  48000 │ Low          │
└─────────┴────────┴──────────────┘

## Summary

- Use `ORDER BY` to sort results.
- Use `DISTINCT` to eliminate duplicates.
- Use `CASE` for conditional logic in queries.