# 06 – SQL Joins

Core SQL concepts: joining tables using INNER, LEFT, RIGHT, and FULL joins.

*Part of the [Foundations: Python, R & SQL](../README.md) repository.*

## 1. Sample Tables

In [1]:
import duckdb

duckdb.sql("""
CREATE TABLE departments (
  dept_id INTEGER,
  dept_name TEXT
);

INSERT INTO departments VALUES
(1, 'HR'),
(2, 'IT'),
(3, 'Finance');

CREATE TABLE employees (
  emp_id INTEGER,
  name TEXT,
  dept_id INTEGER
);

INSERT INTO employees VALUES
(101, 'Alice', 1),
(102, 'Bob', 2),
(103, 'Clara', 4),  -- unknown dept
(104, 'David', NULL);
""")

In [2]:
duckdb.sql("SELECT * FROM departments")

┌─────────┬───────────┐
│ dept_id │ dept_name │
│  int32  │  varchar  │
├─────────┼───────────┤
│       1 │ HR        │
│       2 │ IT        │
│       3 │ Finance   │
└─────────┴───────────┘

In [3]:
duckdb.sql("SELECT * FROM employees")

┌────────┬─────────┬─────────┐
│ emp_id │  name   │ dept_id │
│ int32  │ varchar │  int32  │
├────────┼─────────┼─────────┤
│    101 │ Alice   │       1 │
│    102 │ Bob     │       2 │
│    103 │ Clara   │       4 │
│    104 │ David   │    NULL │
└────────┴─────────┴─────────┘

## 2. INNER JOIN

Returns only matching rows between both tables.

In [4]:
duckdb.sql("""
SELECT emp_id, name, dept_name
FROM employees
INNER JOIN departments
ON employees.dept_id = departments.dept_id;
""")

┌────────┬─────────┬───────────┐
│ emp_id │  name   │ dept_name │
│ int32  │ varchar │  varchar  │
├────────┼─────────┼───────────┤
│    101 │ Alice   │ HR        │
│    102 │ Bob     │ IT        │
└────────┴─────────┴───────────┘

## 3. LEFT JOIN

Returns all rows from the left table, even if no match.

In [5]:
duckdb.sql("""
SELECT emp_id, name, dept_name
FROM employees
LEFT JOIN departments
ON employees.dept_id = departments.dept_id;
""")

┌────────┬─────────┬───────────┐
│ emp_id │  name   │ dept_name │
│ int32  │ varchar │  varchar  │
├────────┼─────────┼───────────┤
│    101 │ Alice   │ HR        │
│    102 │ Bob     │ IT        │
│    103 │ Clara   │ NULL      │
│    104 │ David   │ NULL      │
└────────┴─────────┴───────────┘

## 4. RIGHT JOIN

DuckDB does not support RIGHT JOIN directly. Use LEFT JOIN by switching table order.

In [6]:
duckdb.sql("""
SELECT dept_name, name
FROM departments
LEFT JOIN employees
ON employees.dept_id = departments.dept_id;
""")

┌───────────┬─────────┐
│ dept_name │  name   │
│  varchar  │ varchar │
├───────────┼─────────┤
│ HR        │ Alice   │
│ IT        │ Bob     │
│ Finance   │ NULL    │
└───────────┴─────────┘

## 5. FULL OUTER JOIN

In [7]:
duckdb.sql("""
SELECT *
FROM employees
FULL OUTER JOIN departments
ON employees.dept_id = departments.dept_id;
""")

┌────────┬─────────┬─────────┬─────────┬───────────┐
│ emp_id │  name   │ dept_id │ dept_id │ dept_name │
│ int32  │ varchar │  int32  │  int32  │  varchar  │
├────────┼─────────┼─────────┼─────────┼───────────┤
│    101 │ Alice   │       1 │       1 │ HR        │
│    102 │ Bob     │       2 │       2 │ IT        │
│    103 │ Clara   │       4 │    NULL │ NULL      │
│    104 │ David   │    NULL │    NULL │ NULL      │
│   NULL │ NULL    │    NULL │       3 │ Finance   │
└────────┴─────────┴─────────┴─────────┴───────────┘

## Summary

- Use `INNER JOIN` to match rows in both tables.
- Use `LEFT JOIN` to keep all left rows even if unmatched.
- Use `RIGHT JOIN` by switching order in `LEFT JOIN` (DuckDB workaround).
- Use `FULL OUTER JOIN` to retain all data from both tables.