# 09 – Mini Project

Core SQL concepts: Practice and consolidate key SQL skills with a small project.

---

*Part of the [Foundations: Python, R & SQL](../README.md) repository.*

In [1]:
import duckdb

## 1. Create tables

In [2]:
duckdb.sql("""
CREATE TABLE employees (
  id INTEGER,
  name TEXT,
  department TEXT,
  salary INTEGER,
  hire_date DATE
);

INSERT INTO employees VALUES
(1, 'Alice', 'IT', 60000, '2019-01-15'),
(2, 'Bob', 'HR', 50000, '2020-03-22'),
(3, 'Clara', 'Finance', 65000, '2018-07-30'),
(4, 'David', 'IT', 55000, '2021-05-10'),
(5, 'Eva', 'HR', 48000, '2022-09-01');
""")

duckdb.sql("""
CREATE TABLE projects (
  project_id INTEGER,
  employee_id INTEGER,
  project_name TEXT,
  hours_worked INTEGER
);

INSERT INTO projects VALUES
(101, 1, 'Migration', 120),
(102, 2, 'Onboarding', 80),
(103, 1, 'Security Audit', 100),
(104, 3, 'Budget Planning', 90),
(105, 4, 'Cloud Setup', 130);
""")

In [3]:
duckdb.sql("SELECT * FROM employees")

┌───────┬─────────┬────────────┬────────┬────────────┐
│  id   │  name   │ department │ salary │ hire_date  │
│ int32 │ varchar │  varchar   │ int32  │    date    │
├───────┼─────────┼────────────┼────────┼────────────┤
│     1 │ Alice   │ IT         │  60000 │ 2019-01-15 │
│     2 │ Bob     │ HR         │  50000 │ 2020-03-22 │
│     3 │ Clara   │ Finance    │  65000 │ 2018-07-30 │
│     4 │ David   │ IT         │  55000 │ 2021-05-10 │
│     5 │ Eva     │ HR         │  48000 │ 2022-09-01 │
└───────┴─────────┴────────────┴────────┴────────────┘

In [4]:
duckdb.sql("SELECT * FROM projects")

┌────────────┬─────────────┬─────────────────┬──────────────┐
│ project_id │ employee_id │  project_name   │ hours_worked │
│   int32    │    int32    │     varchar     │    int32     │
├────────────┼─────────────┼─────────────────┼──────────────┤
│        101 │           1 │ Migration       │          120 │
│        102 │           2 │ Onboarding      │           80 │
│        103 │           1 │ Security Audit  │          100 │
│        104 │           3 │ Budget Planning │           90 │
│        105 │           4 │ Cloud Setup     │          130 │
└────────────┴─────────────┴─────────────────┴──────────────┘

## 2. Queries and Insights

In [5]:
duckdb.sql("""
SELECT department, AVG(salary) AS avg_salary
FROM employees
GROUP BY department;
""")

┌────────────┬────────────┐
│ department │ avg_salary │
│  varchar   │   double   │
├────────────┼────────────┤
│ IT         │    57500.0 │
│ Finance    │    65000.0 │
│ HR         │    49000.0 │
└────────────┴────────────┘

In [6]:
duckdb.sql("""
SELECT e.name, e.department, p.project_name, p.hours_worked
FROM employees e
JOIN projects p
ON e.id = p.employee_id
ORDER BY p.hours_worked DESC;
""")

┌─────────┬────────────┬─────────────────┬──────────────┐
│  name   │ department │  project_name   │ hours_worked │
│ varchar │  varchar   │     varchar     │    int32     │
├─────────┼────────────┼─────────────────┼──────────────┤
│ David   │ IT         │ Cloud Setup     │          130 │
│ Alice   │ IT         │ Migration       │          120 │
│ Alice   │ IT         │ Security Audit  │          100 │
│ Clara   │ Finance    │ Budget Planning │           90 │
│ Bob     │ HR         │ Onboarding      │           80 │
└─────────┴────────────┴─────────────────┴──────────────┘

In [7]:
duckdb.sql("""
SELECT name, SUM(hours_worked) AS total_hours,
       RANK() OVER (ORDER BY SUM(hours_worked) DESC) AS workload_rank
FROM employees e
JOIN projects p ON e.id = p.employee_id
GROUP BY name;
""")

┌─────────┬─────────────┬───────────────┐
│  name   │ total_hours │ workload_rank │
│ varchar │   int128    │     int64     │
├─────────┼─────────────┼───────────────┤
│ Alice   │         220 │             1 │
│ David   │         130 │             2 │
│ Clara   │          90 │             3 │
│ Bob     │          80 │             4 │
└─────────┴─────────────┴───────────────┘

## 3. Summary

- Joined employee and project data to understand workload and salary trends.
- Used aggregation, joins, and window functions.